extends layout

block content
  h1 Create Your Card Here
  form(method="POST" action="/card")
    label(for="firstName") First:
    input(type="text" name="firstName" id="firstName" value="Edward")

    label(for="lastName") Last:
      input(type="text" name="lastName" id="lastName" value="Scissorhands")

    label(for="type") Type
    select(name="type" id="type")
      option(value = "Bronze") Bronze
      option(value = "Standard") Standard
      option(value = "Premium") Premium

    label(for="dateOfBirth") DOB
    input(type="date" name="dateOfBirth" id="dateOfBirth" value="1990-12-07")

    label(for="addressLine1") Address Line 1:
    input(type="text" name="addressLine1" id="addressLine1" value="6354 Boardfish Road")

    label(for="addressLine2") Address Line 2:
    input(type="text" name="addressLine2" id="addressLine2" value="1400 Defense Pentagon. Washington, DC 20301")

    label(for="city") City:
    input(type="text" name="city" id="city" value="Karakura Town")

    label(for="state") State:
    select(name="state" id="state")
      option(value="AL") AL
      option(value="AK") AK
      option(value="AZ") AZ
      option(value="AR") AR
      option(value="CA") CA
      option(value="CO") CO
      option(value="CT") CT
      option(value="DE") DE
      option(value="FL") FL
      option(value="GA") GA
      option(value="HI") HI
      option(value="ID") ID
      option(value="IL") IL
      option(value="IN") IN
      option(value="IA") IA
      option(value="KS") KS
      option(value="KY") KY
      option(value="LA") LA
      option(value="ME") ME
      option(value="MD") MD
      option(value="MA") MA
      option(value="MI") MI
      option(value="MN") MN
      option(value="MS") MS
      option(value="MO") MO
      option(value="MT") MT
      option(value="NE") NE
      option(value="NV") NV
      option(value="NH") NH
      option(value="NJ") NJ
      option(value="NM") NM
      option(value="NY") NY
      option(value="NC") NC
      option(value="ND") ND
      option(value="OH") OH
      option(value="OK") OK
      option(value="OR") OR
      option(value="PA") PA
      option(value="RI") RI
      option(value="SC") SC
      option(value="SD") SD
      option(value="TN") TN
      option(value="TX") TX
      option(value="UT") UT
      option(value="VT") VT
      option(value="VA") VA
      option(value="WA") WA
      option(value="WV") WV
      option(value="WI") WI
      option(value="WY") WY
    label(for="zip") Zip Code:
    input(type="text" name="zip" id="zip" value="12345")

    label(for="startOfInsurance") Start of Insurance
    input(type="date" name="startOfInsurance" id="startOfInsurance" value="2007-11-04")


    button(type="submit" action="post") Create My Card